server {
        listen 80;
        listen [::]:80;

        server_name {{ item.name }};
        root {{ item.root }};
        index index.html
        server_tokens off;
        charset utf-8;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }
}
